#join_form {
    margin: 4px;
    width: auto;
    height: auto;
    padding: 40px;
    border: 1px solid lightgray;
    border-radius: 35px;
}

h1 {
    color: rgb(0, 140, 255);
}

#u_name,
#u_id,
#pwd,
#repwd {
    width: auto;
    height: 30px;
    padding: 0 20px;
    margin-bottom: 5px;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 12px;
}